@font-face {
    font-family: 'Futura_Bold', 'sans-serif';
    src: url(Multimedia/fonts/Futura_Bold.otf);
}
body{
    background-color: #fff7d4;
    font-family: 'Futura_Bold';
    color: white;
    }
header{
     background-color: #22B573;
}



