@font-face {
    font-family: 'Futura_Bold';
    src: url(Multimedia/fonts/Futura_Bold.otf);
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(Multimedia/fonts/Lato-Regular.ttf);
}

body {
    background-color: #fff7d4;
    font-family: 'Futura_Bold',sans-serif;
    color: white;
    margin: 0;
}

header {
    background-color: #22B573;
    text-align: center;
    width: 65%;
    padding: 3vw 6vw;
    margin: 5vw auto;
}

header img{
    height: auto;
    width: 40vw;
}

h1{
    margin: 3rem;
}

#slogan{
    margin: 3rem;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3.5vw;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin: 0;
    padding: 0;
}

#section1{
    background-color: #22B573;
    text-align: center;
    padding: 2vw 6vw;
    width: 65%;
    margin: 5vw auto;
}

.subtitle {
    margin-top: 0;
}

.contenus-section1{
    display: flex;
    align-items: flex-start;
}

#gallerie{
    width: 40%; 
    height: auto;
    flex-shrink: 0; 
    margin: 3vw 4vw 3vw 0;
    border: solid white 0.5vw;
}

.textS1{
    margin: 3vw 0rem;
    flex-grow: 1; 
    flex-shrink: 1;
    text-align: left;
    font-size: 1.5vw;
    line-height: 1.6;
}

#section2{
    background-color: #22B573;
    text-align: center;
    padding: 2vw 6vw;
    width: 65%;
    margin: 5vw auto;
}

.contenus-section2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3vw;
}

.imgs2{
    width: 30%; 
    height: auto;
    flex-shrink: 0; 
    margin: 2vw 0 0 0;
    border: solid white 0.5vw; 
}

#exptitle{
    text-align: left;
    font-size: 2vw; 
    margin: 3vw 0 0vw 0;
}

.foots2{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding-bottom: 2vw; 
    font-size: 1.2vw;
    margin-top: 0;
}

.foots2 a{
    text-decoration: none;
    color: white
}

.foots2 a:hover{
    text-decoration: underline;
}

#aname{
    font-family: 'Lato-Regular', sans-serif;
    color: white; 
    margin: 0;
}

#section3{
    background-color: #22B573;
    text-align: center;
    padding: 2vw 6vw;
    width: 65%;
    margin: 5vw auto;
}

.line1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3vw;
}

.line2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3vw;
    margin-bottom: 3vw;
}

.imgs3{
    width: 30%; 
    height: auto;
    flex-shrink: 0; 
    margin: 2vw 0 0 0;
    border: solid white 0.5vw;   
}

#section3 p{
    text-align: right;
    font-size: 1.2vw;
}

#section3 a{
    color: white;
    text-decoration: none;
}

#section3 a:hover{
    text-decoration: underline;
}

footer{
    background-color: #22B573;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    padding: 3vw 6vw 0;
    margin: 5vw auto;
    width: 65%;
    align-items: center;
}

footer h2, footer h3 {
    margin-top: 0;
    margin-bottom: 3vw;
    font-size: 2vw;
    text-align: left;
}

.part1, .part2 {
    width: 48%; 
    text-align: left;
}

.part1{
    padding-right: 2%;
}

.part2 {
    width: 46%;
    text-align: left;
}

#separator {
    width: 0.1vw;
    background-color: white; 
    height: 25vw;
    margin-top: 2vw;
    margin-right: 2vw;
}

.subp1-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
}

#contacts{
    list-style: none;
    justify-content: left;
    margin: 0;
    padding: 0;
    width: 50%;
}

#contacts li{
    font-size: 1.2vw;
    line-height: 2;
    text-align: left;
}

#horaires {
    width: 45%;
    margin: 0;
    border-collapse: collapse;
    font-size: 1.2vw;
    text-align: left;
}

#horaires td {
    padding: 0.5vw 0;
}

#horaires tr td:last-child {
    font-family: 'Lato-Regular', sans-serif;
    text-align: center;
}

.part1 p {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 1.2vw;
    margin-top: 3vw;
    text-align: center;
    width: 100%;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5vw; 
    width: 100%;
    margin: 0;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%; 
    box-sizing: border-box;
    padding: 0.8vw;
    border: none;
    font-size: 1.2vw;
    font-family: 'Futura_Bold', sans-serif;
    color: #22B573; 
    margin: 0; 
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: #22B573;
    opacity: 1;
}

footer .homeb {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 1.2vw;
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: none;
}

footer .homeb:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    header,
    #section1,
    #section2,
    #section3,
    footer {
        width: 90%;
        max-width: 500px;
        padding: 5vw 6vw;
        margin: 5vw auto;
        background-color: #4910BC;
    }

    header img {
        width: 60vw;
    }

    nav ul {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    nav ul li a {
        font-size: 4vw;
    }

    .contenus-section1 {
        flex-direction: column-reverse;
        align-items: center;
    }

    #gallerie {
        width: 80%;
        margin: 3vw auto;
    }

    .textS1 {
        font-size: 4vw;
        text-align: center;
    }

    .contenus-section2,
    .line1,
    .line2 {
        flex-direction: column;
        gap: 5vw;
        align-items: center;
    }
    
    .imgs2,
    .imgs3 {
        width: 70%;
    }

    .foots2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vw;                   
    }

    #exptitle {
        margin-bottom: 1.5vw;
    }

    #exptitle,
    #aname,
    .foots2 a p {
        text-align: center;
    }

    #section3 p{
    text-align: center;
    }

    footer {
        flex-direction: column;
        align-items: stretch;
    }
    
    .part1, 
    .part2 {
        width: 100%;
        padding: 0;
        margin-bottom: 5vw;
    }

    #separator {
        display: none;
    }
    
    .subp1-1 {
        flex-direction: column;
        gap: 5vw;
    }

    #contacts,
    #horaires {
        width: 100%;
        text-align: center;
    }

    #contacts li{
    text-align: center;
    font-size: 4vw; 
    }

    #horaires {
        width: 100%;
        text-align: center;
        font-size: 4vw; 
    }

    #horaires td {
        padding: 0.5vw 2vw;
    }

    #horaires tr td:last-child {
        text-align: center;
        padding-right: 0;
    }
    
    .part1 p {
        margin-top: 5vw;
    }

    footer h2, footer h3 {
        font-size: 5vw;
        text-align: center;
    }

    #contact-form input,
    #contact-form textarea {
        font-size: 4vw;
        padding: 2vw;
    }

    #contact-form input[type="text"],
    #contact-form input[type="email"],
    #contact-form textarea {
    color: #4910BC; 
    }


    #contact-form input::placeholder,
    #contact-form textarea::placeholder {
    color: #4910BC;
    opacity: 1;
    }
}